@*@model IEnumerable<relatorios.Models.Teste>*@
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="btn bg-danger" onclick="pdf()" style="cursor:pointer;">
    PDF
</div>
<div id="element">
    <page>
        <page_header>
            <img src="~/LogoDay1.jpg" width="25%" />
        </page_header>
        <page_section>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
            <p>TESTETSTAYSASTGYUAYUSGUYASUYGUYAGSUYGAYUSGUYAGS</p>
        </page_section>
        <page_footer>
            N
        </page_footer>
    </page>
</div>




